<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{or site.url (or siteRootUrl siteRootPath)}}">{{site.title}}</a>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
	    {{#if site.homeUrl}}
        <a class="navbar-item" href="{{relativize page.url site.homeUrl}}">Home</a>
		{{/if}}
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Products</a>
          <div class="navbar-dropdown">
		    {{#each site.components}}
            <a class="navbar-item"
			{{#each ./versions}}
			{{~#if (eq this ../latestVersion)}}
			href="{{{relativize @root.page.url ./url}}}"
			{{/if}}
			{{/each}}
			>{{{./title}}}</a>
			{{/each}}
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Resources</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://github.com/fridujo" target="_blank">Github</a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
